### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)

## Player Count

* Display the total number of players

In [5]:
#count the total amount of players in dataframe
player_count = len(purchase_data["SN"].value_counts())
tp_df = pd.DataFrame(
{"Total Players: ": [player_count]}
)

#display total players
tp_df

   Total Players:
0              576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#calculate variables
unique_items = len(purchase_data["Item Name"].value_counts())
average_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

#display variables in dataframe
summary_df = pd.DataFrame(
{"Number of Unique Items":[unique_items],
 "Average Price":["${:,.2f}".format(average_price)],
 "Number of Purchases":[total_purchases],
 "Total Revenue":["${:,.2f}".format(total_revenue)]
})

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#drop duplicate SN values and create new dataframe
unique_SN_df = purchase_data.drop_duplicates(subset = "SN")

#create new dataframe containing summary variables
gender_df = pd.DataFrame(
    {"Total Count" : unique_SN_df["Gender"].value_counts(),
     "Percentage of Players" : unique_SN_df["Gender"].value_counts(normalize = True).map("{:,.2%}".format)
    })
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#create groups of dataframes that group by gender
g_purchase_count = purchase_data.groupby("Gender")["Purchase ID"].count()
g_avg_price = purchase_data.groupby("Gender")["Price"].mean().map("${:,.2f}".format)
g_tot_purchase = purchase_data.groupby("Gender")["Price"].sum()

#merge dataframes together based on "Gender"
g_summary_df1 = pd.merge(g_purchase_count,g_avg_price,on="Gender",how="right")
g_summary_df2 = pd.merge(g_summary_df1,g_tot_purchase,on="Gender",how="right")
g_summary_df3 = pd.merge(g_summary_df2,gender_df,left_index=True, right_index=True,how ="right")

#rename DataFrame columns
g_summary_df4 = g_summary_df3.rename(columns = {
    "Purchase ID" : "Purchase Count" , "Price_x" : "Average Purchase Price" , "Price_y" : "TPV" , "Price" : "Avg Total Purchase per Person"})

#calculate and format purchase price columns
g_summary_df4["Avg Total Purchase per Person"] = (g_summary_df4["TPV"] / g_summary_df4["Total Count"]).map("${:,.2f}".format)
g_summary_df4["Total Purchase Value"]=g_summary_df4["TPV"].map("${:,.2f}".format)

#call and display final dataframe
g_summary_df_final = pd.DataFrame(g_summary_df4[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]])
g_summary_df_final

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
#create bins for age groups and display
bins = [0,9,14,19,24,29,34,39,50]
ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

unique_SN_df["Age Groups"] = pd.cut(unique_SN_df["Age"], bins , labels = ages)

age_df = pd.DataFrame(
    {"Total Count" : unique_SN_df["Age Groups"].value_counts(),
     "Percentage of Players" : unique_SN_df["Age Groups"].value_counts(normalize = True).map("{:,.2%}".format)
    })

age_df.sort_index()

C:\Users\STEVE.YO\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#bin the purchase_data frame by age
bins_a = [0,9,14,19,24,29,34,39,50]
ages_a = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins , labels = ages)


#create groups of dataframes that group by age
a_purchase_count = purchase_data.groupby("Age Groups")["Purchase ID"].count()
a_avg_price = purchase_data.groupby("Age Groups")["Price"].mean().map("${:,.2f}".format)
a_tot_purchase = purchase_data.groupby("Age Groups")["Price"].sum()

#merge dataframes together based on "Age"
a_summary_df1 = pd.merge(a_purchase_count,a_avg_price,on="Age Groups",how="right")
a_summary_df2 = pd.merge(a_summary_df1,a_tot_purchase,on="Age Groups",how="right")
a_summary_df3 = pd.merge(a_summary_df2,age_df,left_index=True, right_index=True,how ="right")

#rename DataFrame columns
a_summary_df4 = a_summary_df3.rename(columns = {
     "Purchase ID" : "Purchase Count" , "Price_x" : "Average Purchase Price" , "Price_y" : "TPV" , "Price" : "Avg Total Purchase per Person"})

#calculate and format purchase price columns
a_summary_df4["Avg Total Purchase per Person"] = (a_summary_df4["TPV"] / a_summary_df4["Total Count"]).map("${:,.2f}".format)
a_summary_df4["Total Purchase Value"]=a_summary_df4["TPV"].map("${:,.2f}".format)

#call and display final dataframe
a_summary_df_final = pd.DataFrame(a_summary_df4[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]])
a_summary_df_final.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
#create groups of dataframes that group by SN
top_spend_count = purchase_data.groupby("SN")["Purchase ID"].count()
top_spend_avg_price = purchase_data.groupby("SN")["Price"].mean()
top_spend_tot_purchase = purchase_data.groupby("SN")["Price"].sum()

#merge dataframes together based on "SN"
top_spend_summary_df1 = pd.merge(top_spend_count,top_spend_avg_price,on="SN",how="right")
top_spend_summary_df2 = pd.merge(top_spend_summary_df1,top_spend_tot_purchase,on="SN",how="right")

#rename DataFrame columns
top_spend_summary_df2 = top_spend_summary_df2.rename(columns = {
     "Purchase ID" : "Purchase Count" , "Price_x" : "Average Purchase Price" , "Price_y" : "Total Purchase Value" , "Price" : "Avg Total Purchase per Person"})
top_spend_summary_sorted = top_spend_summary_df2.sort_values(by=['Total Purchase Value'] , ascending = False).head(5)
top_spend_summary_sorted["Average Purchase Price"] = top_spend_summary_sorted["Average Purchase Price"].map("${:,.2f}".format)
top_spend_summary_sorted["Total Purchase Value"] = top_spend_summary_sorted["Total Purchase Value"].map("${:,.2f}".format)
top_spend_summary_sorted

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
#create groups of dataframes that group by Item ID
item_count = purchase_data.groupby(["Item ID","Item Name"])["Purchase ID"].count()
item_avg_price = purchase_data.groupby(["Item ID","Item Name"])["Price"].mean()
item_tot_purchase = purchase_data.groupby(["Item ID","Item Name"])["Price"].sum()

#merge dataframes together based on "Items"
item_summary_df1 = pd.merge(item_count,item_avg_price,on=["Item ID","Item Name"],how="right")
item_summary_df2 = pd.merge(item_summary_df1,item_tot_purchase,on=["Item ID","Item Name"],how="right")

#rename DataFrame columns
item_summary_df2 = item_summary_df2.rename(columns = {
     "Purchase ID" : "Purchase Count" , "Price_x" : "Average Purchase Price" , "Price_y" : "Total Purchase Value" , "Price" : "Avg Total Purchase per Person"})
item_summary_sorted = item_summary_df2.sort_values(by=['Purchase Count'] , ascending = False).head(5)
item_summary_sorted["Total Purchase Value"] = item_summary_sorted["Total Purchase Value"].map("${:,.2f}".format)
item_summary_sorted["Average Purchase Price"] = item_summary_sorted["Average Purchase Price"].map("${:,.2f}".format)
item_summary_sorted

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [37]:
#sort by total purchase value and display
most_profitable_sorted = item_summary_df2.sort_values(by=['Total Purchase Value'] , ascending = False).head(5)
most_profitable_sorted["Total Purchase Value"] = most_profitable_sorted["Total Purchase Value"].map("${:,.2f}".format)
most_profitable_sorted["Average Purchase Price"] = most_profitable_sorted["Average Purchase Price"].map("${:,.2f}".format)
most_profitable_sorted

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

# Analysis and Observable Trends

#### 1. Males make up the majority of players at 84% and make the most amount of purchases compared to the other two genders

#### 2. Just under half the players (44%) are between the ages of 20-24, and contribute the most amount of purchases as compared to the other age groups.

#### 3. The top 3 most popular and profitable items in the game are
        -Final Critic
        -Oathbreaker, Last Hope of the Breaking Storm 	
        -Fiery Glass Crusader